html, body {
  height: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  color: #353535;
  position: relative;
}

li p {
    margin: 0;
    padding: 0;
}

div.tab {
  height: 100%;
  weight: 100%;
  overflow: hidden;
  background-color: white:
}

div.tab button, div.tab a {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
}

div.tab a {
  background-color: #A8DFF4;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  color: #353535;
  text-decoration: none;
}

div.tab button:hover {
  border-bottom: medium solid #353535;
}

div.tab button.active {
  border-bottom: medium solid #73BE47;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container2 {
  width:100%;
  height: 100%;
}

.wrapper {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  text-align: left;
}

.wrapper2 {
  height: 100%;
  display: flex;
  justify-content: top;
  align-items: center;
}

#groupImg {
  display: inline-block;
  padding: 50px;
}

.tabcontent {
  height: 100%;
  width: 100%;
  display: none;
  padding: 10px 6px;
  border: none;
  position: relative;
}

.word {
  font-size: 36px;
}