<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  

  <body>
    
    <nav class="navbar navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Recap2</a>
            </div>
  <!--          <ul class="nav navbar-nav">
                {% for name in rooms %}
                <li><a href="#"> {{ name }}</a></li>
                {% endfor %}    
            </ul>       -->
            <!--<button class="btn btn-danger navbar-btn">Fake Button</button> -->
        </div>
    </nav>


    <div class="container">
        <hr>
            {% block content %}{% endblock %}
        </hr>
    </div>


  </body>
</html>