<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Recap</title>

  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
  <div class="wrapper">
    <div class="container">
      <div class="tab">
        <a class="tablinks" href="{{ url_for('authorise') }}">Sign In</a>
        <button class="tablinks" onclick="showTab(event, 'Contact')">Contact</button>
        <button class="tablinks" onclick="showTab(event, 'Info')">Info</button>
        <button class="tablinks" onclick="showTab(event, 'Home')" id="defaultOpen">Home</button>
      </div>
    </div>

    <div id="Home" class="tabcontent">
        <p style="text-align:center; font-size:1100%">recap </p>
        <p style="text-align:center; font-size:150%; position:relative; bottom:170px; "> visualise the topics of conversation </p>
    </div>

    <div id="Info" class="tabcontent">
      <div id="infoTxt">
        <p style="text-align:left; font-size:150%">This applicaiton was inspired by 'recapbot' - created during the London TechCrunch Disrupt Hackathon 2016. The original bot took the conversation from a Spark chatroom and processed the messages as being 'on' or 'off' topic, returning a markdown where 'off' topic comments were suppressed, and 'on' topic comments were enlarged. <br><br> We now go a step further and summarise the contents of a chatroom into key topics in the conversation. Each topic is displayed as a wordcloud, leading you to all the messages related to that topic to give you a neat, visual overview of all the discussions in the chatrooms. Sign in to your Spark account and give it a try!</p>
      </div>
      <div id="groupImg">
          <img src="../static/wordclouds.jpg" alt="group photo" align="center" width=100%>
      </div>
    </div>

    <div id="Contact" class="tabcontent">
      <p style="text-align:center; font-size:130%">For more information, contact the developer team:</p>
      <p style="text-align:center; font-size:130%">GitHub: <a href="https://github.com/tgilgs/chat-reduce">Recap</a></p>
      <div style="display:flex;justify-content:center;align-items:center;height:80px;">
          <div style="width:100%;height:100%;">
            <img src="../static/tom.jpg" height="200" width="200"/>
            <p>Tom Gilgan</p>
          </div>
          <div style="width:100%;height:100%;">
            <img src="../static/aydan.jpg"/ height="200" width="200"/>
            <p>Aydan Gasimova</p>
          </div>
          <div style="width:100%;height:100%;">
            <img src="../static/adrian.jpg"/ height="200" width="200"/>
            <p>Adrian Chung</p>
          </div>
      </div>
    </div>
  </div>

<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

</body>
</html>

