<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recap: Cisco Spark Web App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
      body { padding-top: 70px; }
    </style>

  </head>

  <body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Recap</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><span class="navbar-text">{{ name }}</span></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    {% set count = [0] %}
    {% for room_row in rooms | batch(2) %}
    <div class="row">
      {% for room in room_row %}
      <div class="col-sm-6">
        {% if room is defined %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="{{ url_for('wordCloud', roomName = room) }}">
              <h3 class="panel-title text-left"><span class="glyphicon glyphicon-registration-mark"></span>
                  {{ room }}
              </h3>
            </a>
          </div>
          <div class="panel-body">
              {% for member in members[count[0]] %}
                  <p class = "text-left"><span class="glyphicon glyphicon-user" style="display:inline-block; width: 20px;"></span> {{ member }}</p>
              {% endfor %}
              {% if count.append(count.pop() + 1) %}{% endif %}
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    </br>
    {% endfor %}

  </div>


  </body>
</html>