
{% extends "base.html" %}
{% block content %}
	{% if key %}
    	<h1>Hello, {{ key }}!</h1>
    {% else %}
    	No Key
    {% endif %}
    <!--
    {% for name in rooms %}
    <div><p>{{ name }} says: <b>{{ name }}</b></p></div>
    {% endfor %}
	-->

    <div>
        <div style="width: 45%; float:left">
            <p> Word cloud 1 from {{ rooms[0] }}</p>
            <img src="{{  imga  }}" class="img-responsive" alt="wordcloud1" width="600" height="400" vspace="30">
        </div>

        <div style="width: 45%; float:right">
            <p> Word cloud 2 from {{ imgb }}</p>
            <img src="{{  imgb  }}" class="img-responsive" alt="wordcloud2" width="600" height="400" vspace="30">
        </div>
    </div>

    <div>
        <div style="width: 45%; float:left">
            <p> Word cloud 3 from {{ imgc }}</p>
            <img src="{{  imgc  }}" class="img-responsive" alt="wordcloud3" width="600" height="400" vspace="30">
        </div>

        <div style="width: 45%; float:right">
            <p> Word cloud 4 from {{ imgd }}</p>
            <img src="{{  imgd  }}" class="img-responsive" alt="wordcloud4" width="600" height="400" vspace="30">
        </div>
    </div>



    <!--<h2>Image</h2>
        <p>The .img-responsive class makes the image scale nicely to the parent element (resize the browser window to see the effect):</p>                  
        <img src="static/img/breb3.jpg" class="img-responsive" alt="fred" width="304" height="236"> 
        
        <p> image path {{  imga  }} </p> 
        <div> <img src="{{  imga  }}" alt="experiment"></div>
   -->
{% endblock %}
