<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recap - {{ room }}</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      body { padding-top: 70px; }
    </style>

    <!-- Script to refresh page once on load -->
    <script>
      $(document).ready(function(){
        //Check if the current URL contains '#'
        if(document.URL.indexOf("#")==-1) {
          // Set the URL to whatever it was plus "#".
          url = document.URL+"#";
          location = "#";

          //Reload the page
          location.reload(true);
        }
      });
    </script>
  </head>

  <body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Recap</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('main') }}">{{ name }}</a></li>
        <li class="active"><span class="navbar-text">{{ room }}</span></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('logout') }}"><<span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">


  {% set count = [0] %}
  {% for img in imageArr %}
  <div>
    <a href="{{ url_for('topicMessages', roomName = room, topic = count[0]) }}">
      {% if loop.index is divisibleby(2) %}
      <div style="width: 45%; float:right">
        <!-- <img src="{{  url_for('static', filename=img)  }}" class="img-responsive" alt="wordcloud{{loop.index0}}" width="600" height="400" vspace="30"> -->
        <img src="../static/{{ img }}?324132421342143252.123123" class="img-responsive" alt="wordcloud{{loop.index0}}" width="600" height="400" vspace="30">
      </div>

      {% else %}
      <div style="width: 45%; float:left">
        <img src="../static/{{ img }}?324132421342143252.123123" class="img-responsive" alt="wordcloud{{loop.index0}}" width="600" height="400" vspace="30">
        <!-- <img src="{{  url_for('static', filename=img)  }}" class="img-responsive" alt="wordcloud{{loop.index0}}" width="600" height="400" vspace="30"> -->
      </div>
    </a>
  </div>
  {% endif %}
  {% if count.append(count.pop() + 1) %}{% endif %}
  {% endfor %}

  </div>

  </body>
</html>